    body{
        padding: 3%;
    }   
      .meunome  {
        font-family: 'Courgette', cursive; ;
        text-align: center;
        
    }
      .descricao {
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: absolute;
        top:  100px;
        margin-left: 19%;
        margin-right: 4%;
        text-align: justify;
      }
      body {
        background-color: rgb(211, 188, 188);
      }
      .tempolivre {
        font-weight: 900;
      }
      .concept {
        font-size: 50px;
      }
      .photoshop {
        font-size: 40px;
      }  
      .ilustracao {
      font-size: 30px;
      }
        #minhafoto {
          height: 280px;
          float: left;
          padding: 10px;
          background-color: rgb(143, 58, 58);
        }
        .imagem {
            height: 300px;
            position: relative;
        }
        #divdescricao  {
            margin-left: 20%;
       }

ul li:nth-child(odd) {
    background-color: aquamarine;
}